<!DOCTYPE html>
<html>

<head>
  <meta charset="ut5-8" />
  <title>A Website</title>
</head>

<body>
  <h1>We'll be right back</h1>
  <p>This website is being updated, we'll be back real soon..</p>
</body>

</html>