<!DOCTYPE html>
<html>

<head>
  <meta charset="ut5-8" />
  <title>A Website</title>
</head>

<body>
  {{> header}}
  <h2>{{screamIt 'Booya'}}</h2>
  <p>{{templateText}}</p>
  {{> footer}}
</body>

</html>